.social-networks {
  display: grid;
  justify-items: center;
  grid-gap: 0.5em;

  &-col {
    grid-template-columns: 100%;
  }
  &-row {
    grid-template-columns: 49% 49%;
  }

  .social-network-link {
    text-decoration: none;
    font-weight: 700;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.01);
    }
  }

  &-telegram {
    background: #0088cc;
  }

  &-instagram {
    background: #833ab4; // fallback for old browsers
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: -moz-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: -o-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: -ms-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(
      to right,
      #fcb045,
      #fd1d1d,
      #833ab4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &-github {
    background-color: #2b3137;
  }

  &-linkedin {
    background-color: #0077b5;
  }
}

.routing {
  &-googleMaps {
    text-decoration: none !important;
    background-color: #c0f0d9;
  }

  &-waze {
    text-decoration: none !important;
    background-color: #b2d9e6;
  }
}
