.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.navbar {
  &-dark {
    .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 1);
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  &-brand a {
    text-decoration: none;
  }
}
